@model IEnumerable<MICRO.WMS.WEB.Models.USERINOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERROLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMARK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDWHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITWHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDITTS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERROLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMARK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDWHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITWHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDITTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
